name: CD - Deploy to Kind Cluster
on:
  workflow_run:
    workflows:
      - "CI - Build and Push Docker Image" # Name des CI-Workflows aus ci.yml
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Verify Kubectl connection
        run: kubectl cluster-info

      - name: Deploy to Kubernetes
        run: |
          IMAGE_TAG=${{ github.event.workflow_run.head_sha }}
          IMAGE_TAG_SHORT=$(echo $IMAGE_TAG | cut -c1-7)
          kubectl set image deployment/hello-k8s-deployment \
            hello-k8s-container=ghcr.io/${{ github.repository }}:${IMAGE_TAG_SHORT} \
            --record

      - name: Verify deployment
        run: |
          kubectl rollout status deployment/hello-k8s-deployment
          echo "Deployment successful!"